.absolute-stretch { 
    position: absolute;
    width: 100%; 
    height: 100%; 
}

.justify-flex-end{
    justify-content: flex-end;
}

.bg-black{
    background-color: black;
}

.bg-grey{
    background-color: grey;
}

.text-white{
    color: white;
}