#_root {
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 15%;
}

#_hintButton{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    left: var(--spacing-m);
    bottom: var(--spacing-m);
    width: var(--icon-size-l);
    height: var(--icon-size-l);
    background-image: url("project://database/Assets/_Project/Sprites/HintButton.png");
}