.objective-view {
    align-items: center;
}

.panel{
    width: 602px;
    height: 96px;
    background-image: url("project://database/Assets/_Project/Sprites/ObjectivePanel.png");
    align-items: center;
    justify-content: center;
    -unity-background-image-tint-color : rgba(255, 255, 255, 0.75);
    padding-left: 32px;
}

Label{
    font-size: var(--font-size-normal);
    color: white;
    width: 70%;
    white-space: normal;
    -unity-text-align: middle-center;
}
